{% extends 'todoapp/base.html' %}

{% block title %}
    My TodoList
{% endblock %}

{% block content %}
    <h1>My TODO List</h1>
    <p>This is My TodoList Application</p>
    <!-- <a href="{% url 'craete_todo' %}">Add Todo</a> -->

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Completed</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.completed }}</td>
                <td>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}